header{
    text-align:center;padding:20px 0;font-size:30px;
    border-bottom: 2px solid #eee;    
    background-color: #7f83ff;
    text-decoration: underline;
   color:orange;   
   margin-bottom: 30px;

    }

